<link href="/css/sb-admin-2.min.css" rel="stylesheet">

<div class="row justify-content-center">

    <!-- 404 Error Text -->
    <div class="col-lg-6 text-center">
        <div class="error mx-auto" data-text="404">404</div>
        <div>
            <p class="lead text-gray-800 mb-5">Página no encontrada</p>
            <p class="text-gray-500 mb-0">No se consige la página que busca {{url}}</p>
            <a href="index.html">&larr; Volver al inicio</a>
        </div>
    </div>

</div>