
<div class="container">
    <div class="container-fluid text-gray-900 m-3">
        {{#each organizatorGuias}}
            <div class="page mt-3" style="page-break-after: always;">

                <div class="row">
                    <h2 class="text-center col-12">CONSOLIDADO DE ENVÍOS</h2>
                </div>
                <div class="row">
                    <div class="col m-3 p-2 d-flex justify-content-center align-items-center border"><img height="70px" src="/img/WhatsApp Image 2020-09-12 at 9.11.53 PM.jpeg" alt="log de heka"></div>
                    <div class="col m-3 p-2 d-flex justify-content-center align-items-center border"><img height="70px" src="/img/logo-inter2.png" alt="logo inter"></div>
                </div>

                <div class="row">
                    <div class="col-4">
                    <table class="table table-bordered text-gray-900">
                        <tr><th class="text-center">Número de guía</th></tr>
                        
                        {{#each this}}
                            <tr><td>{{this}}</td></tr>
                        {{/each}}
                        
                    </table>
                    </div>
                    <div class="col-8">
                    <div class="h-100 d-flex flex-column justify-content-around">
                        <div class="my-3">
                        <div class="card">
                            <div class="card-header text-center"><h4><b>Datos transportadora / oficina</b></h4></div>
                            <div class="card-body">
                            <div class="d-flex flex-column justify-content-between" style="height: 250px;">
                                <div>
                                <p class="w-100 d-flex"><b>Nombre funcionario: </b> <span class="col ml-2" style="border-bottom: solid 1px #3a3b45;"></span></p>
                                <p class="w-100 d-flex"><b>Fecha: </b> <span class="col ml-2" style="border-bottom: solid 1px #3a3b45;"></span></p>
                                </div>
                                <div>
                                <p class="w-100 d-flex mt-6"><b>Firma y/o sello: </b> <span class="col ml-2" style="border-bottom: solid 1px #3a3b45;"></span></p>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                        
                        <div class="my-3">
                        <div class="card">
                            <div class="card-header text-center"><h4><b>transportadora / oficina</b></h4></div>
                            <div class="card-body">
                            <div class="d-flex flex-column justify-content-between" style="height: 250px;">
                                <div>
                                <p class="w-100 d-flex"><b>Nombre funcionario: </b> <span class="col ml-2" style="border-bottom: solid 1px #3a3b45;"></span></p>
                                <p class="w-100 d-flex"><b>Fecha: </b> <span class="col ml-2" style="border-bottom: solid 1px #3a3b45;"></span></p>
                                </div>
                                <div>
                                <p class="w-100 d-flex mt-6"><b>Firma y/o sello: </b> <span class="col ml-2" style="border-bottom: solid 1px #3a3b45;"></span></p>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                
            </div>
        {{/each}}
    </div>
</div>

