.estadisticas-item {
    border: 1px solid black;
    border-radius: 20px;
  }
  .imagen-estadisticas img{
      width: 100px;
      object-fit: cover;
  }
  .swiper {
    width: 100%;
  }
  .video img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .video p{
    margin: 0;
  }
  
  .videoYoutube{
    height: 80vh;
  }
  
  .swiper-slide {
    height: 100%;
    margin-bottom: 5px;
    padding: 2px 2px 8px 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid rgba(70, 68, 68, 0.2);
    border-radius: 15px;
    box-shadow: 2px 2px 2px 1px rgba(5, 46, 85, 0.2);
  }
  .swiper-slide:hover{
    cursor: pointer;
  }
  @media (min-width: 1440px) {
    .cuerpo_carousel {
      padding: 0 50px;
    }
  }